:root{
  --color-gray-50: hsl(0, 0%, 98%);
  --color-gray-500: hsl(0, 0%, 41%);
  --color-gray-950: hsl(0, 0%, 8%);
  --font-family: "Epilogue", sans-serif;
}

@font-face {
  font-family: "Epilogue", sans-serif;
  src: url("../src/assets/fonts/static/Epilogue-Regular.ttf");
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Epilogue", sans-serif;
  src: url("../src/assets/fonts/static/Epilogue-Medium.ttf");
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Epilogue", sans-serif;
  src: url("../src/assets/fonts/static/Epilogue-Bold.ttf");
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: var(--font-family);
}